.filter {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.filter span {
  text-transform: uppercase;
  padding: 15px;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.filter span:hover,
.filter span.active {
  border-bottom: 3px solid #f65261;
}
