.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all ease-out 0.7s;
}

.modal {
  background: #232323;
  min-width: 40vw;
  max-width: 80vw;
  margin: 50px auto;
  min-height: 40vw;
  max-height: 80vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.modal h3 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 300;
  color: #ffffff;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
}

.modalButtons {
  display: flex;
  margin-top: 25px;
  justify-content: flex-end;
  padding: 0 15px;
}
